body {
  margin: 0;
}
body .pokedex {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Comfortaa", cursive;
}
body .pokedex button {
  font-family: "Comfortaa", cursive;
}
body .pokedex .pokedex-input {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
  width: 100%;
}
body .pokedex .pokedex-input input {
  border: 2px solid gray;
  border-top-left-radius: 15rem;
  border-bottom-left-radius: 15rem;
  border-right: none;
  font-family: "Comfortaa", cursive;
  padding-left: 0.4rem;
}
body .pokedex .pokedex-input input:focus {
  outline-color: rgb(80, 80, 80);
}
body .pokedex .pokedex-input button {
  border: 0;
  border-top-right-radius: 15rem;
  border-bottom-right-radius: 15rem;
  background-color: gray;
  color: white;
  padding: 3px;
  width: 3.5rem;
}
body .pokedex .pokedex-result {
  width: 100%;
}
body .pokedex .pokedex-result .pokemon-switch {
  display: flex;
}
body .pokedex .pokedex-result .pokemon-switch button {
  color: white;
}
body .pokedex .pokedex-result .pokemon-switch .btn-left {
  background-color: gray;
  border: none;
  border-bottom-right-radius: 1.5rem;
  width: 50%;
  height: 3rem;
  margin-right: 0.5rem;
}
body .pokedex .pokedex-result .pokemon-switch .btn-right {
  background-color: gray;
  border: none;
  border-bottom-left-radius: 1.5rem;
  width: 50%;
  height: 3rem;
}
body .pokedex .pokedex-result .pokemon-card .identifier-section {
  display: flex;
  justify-content: center;
  margin-right: 0.2rem;
}
body .pokedex .pokedex-result .pokemon-card .pokemon-image {
  display: flex;
  justify-content: center;
}
body .pokedex .pokedex-result .pokemon-card .pokemon-image img {
  height: 10rem;
}
body .pokedex .pokedex-result .pokemon-card .characteristics {
  background-color: #30a7d7;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 1rem;
  padding-left: 1rem;
}
body .pokedex .pokedex-result .pokemon-card .characteristics .field-name {
  color: white;
}
body .pokedex .pokedex-result .pokemon-card .characteristics .skills-field ul {
  padding: 0;
}
body .pokedex .pokedex-result .pokemon-card .characteristics .skills-field ul li {
  list-style-type: none;
}
body .pokedex .pokedex-result .pokemon-card .characteristics .gender-field .gender-icons img {
  width: 2rem;
}
body .pokedex .pokedex-result .pokemon-card .bug {
  background-color: #a7b91d;
}
body .pokedex .pokedex-result .pokemon-card .dark {
  background-color: #4f3a2d;
}
body .pokedex .pokedex-result .pokemon-card .dragon {
  background-color: #745fe1;
}
body .pokedex .pokedex-result .pokemon-card .electric {
  background-color: #fdb91a;
}
body .pokedex .pokedex-result .pokemon-card .fairy {
  background-color: #f5aff4;
}
body .pokedex .pokedex-result .pokemon-card .fighting {
  background-color: #803121;
}
body .pokedex .pokedex-result .pokemon-card .fire {
  background-color: #cc2500;
}
body .pokedex .pokedex-result .pokemon-card .flying {
  background-color: #93a9f6;
}
body .pokedex .pokedex-result .pokemon-card .ghost {
  background-color: #5c5fb0;
}
body .pokedex .pokedex-result .pokemon-card .grass {
  background-color: #73c238;
}
body .pokedex .pokedex-result .pokemon-card .ground {
  background-color: #d3b158;
}
body .pokedex .pokedex-result .pokemon-card .ice {
  background-color: #a1e6fc;
}
body .pokedex .pokedex-result .pokemon-card .normal {
  background-color: #bcb7ad;
}
body .pokedex .pokedex-result .pokemon-card .poison {
  background-color: #914495;
}
body .pokedex .pokedex-result .pokemon-card .psychic {
  background-color: #ed4882;
}
body .pokedex .pokedex-result .pokemon-card .rock {
  background-color: #baa459;
}
body .pokedex .pokedex-result .pokemon-card .steel {
  background-color: #bbbbc7;
}
body .pokedex .pokedex-result .pokemon-card .water {
  background-color: #3393f4;
}
body .pokedex .pokedex-result .pokemon-card .type-field {
  margin: 0 1rem;
}
body .pokedex .pokedex-result .pokemon-card .type-field ul {
  display: flex;
  padding: 0;
}
body .pokedex .pokedex-result .pokemon-card .type-field ul li {
  border-radius: 0.2rem;
  color: white;
  list-style-type: none;
  padding: 0.2rem;
}
body .pokedex .pokedex-result .pokemon-card .type-field ul .type-one {
  margin-right: 0.5rem;
}
body .pokedex .pokedex-result .pokemon-card .weaknesses-field {
  margin-left: 1rem;
}
body .pokedex .pokedex-result .pokemon-card .weaknesses-field ul {
  display: flex;
  justify-content: start;
  padding: 0;
}
body .pokedex .pokedex-result .pokemon-card .weaknesses-field ul li {
  border-radius: 0.2rem;
  color: white;
  list-style-type: none;
  padding: 0.2rem;
  margin: 0 0.5rem 0 0;
}
body .pokedex .pokedex-result .pokemon-card .evolutios-field {
  background-color: gray;
  border-radius: 0.5rem;
  color: white;
  margin: 0 1rem;
}
body .pokedex .pokedex-result .pokemon-card .evolutios-field p {
  padding: 1rem 0 0 1rem;
}
body .pokedex .pokedex-result .pokemon-card .evolutios-field ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0;
}
body .pokedex .pokedex-result .pokemon-card .evolutios-field ul li {
  list-style-type: none;
}
body .pokedex .pokedex-result .pokemon-card .evolutios-field ul img {
  width: 2rem;
}/*# sourceMappingURL=style.css.map */